<mat-toolbar>
    <mat-icon>account_circle</mat-icon>
    <span>Contatos</span>
</mat-toolbar>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>list</mat-icon>
            Todos
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>face</mat-icon>
            Novo
        </ng-template>
        <mat-card class="half-width">
            <mat-card-title>Novo contato</mat-card-title>
            <form [formGroup]="formulario" (ngSubmit)="submit()">
                <mat-form-field class="full-width">
                    <mat-label>Nome:</mat-label>
                    <input matInput formControlName="nome" placeholder="Digite o seu nome: " type="text" name="nome" id="">
                </mat-form-field>
                <div *ngIf="!nomeValido()">
                    Campo nome é obrigatorio.
                </div>
                <mat-form-field class="full-width">
                    <mat-label>Email:</mat-label>
                    <input matInput formControlName="email" placeholder="Digite o seu email: " type="text" name="email" id="">
                </mat-form-field>    
                <div *ngIf="!emailValido()">
                    Campo email é obrigatorio/precisa ser válido.
                </div>
                <br>
                <button [disabled]="!formulario.valid" mat-button color="primary">
                    Adicionar
                </button>
            </form>
        </mat-card>
     </mat-tab>
</mat-tab-group>